In [121]:
import pandas as pd
import os

In [66]:
""" 
Your original weekly results for the next three weeks are:
1,1,1,1,1,1,1
2,2,2,2,2,2,2
3,3,3,3,3,3,3
Your modified weekly results for the next three weeks are:
0.1,0.9,0.123,0.99,0.5,1.0,0
0.2,1.8,0.246,1.98,1.0,2.0,0
0.3,2.7,0.369,2.97,1.5,3.0,0    

* In order to create this message, the backend should create a 3*7 Pandas dataframe (which contains the 'original' values as per above) and then copy and modify these values by multiplying them with the list of comma separated values to get the desired modified resultset (again, as per the example above). 

"""


aList = [0.1,0.9,0.123,0.99,0.5,1.0,0]

df = pd.DataFrame(aList)

df[0] = df * 1
df[1] = df * 2
df[2] = df[1] * 1.5

#df[2] = df[1] * df[1]

df_transposed = df.T

df_transposed.to_json

<bound method NDFrame.to_json of      0    1      2     3    4    5    6
0  0.1  0.9  0.123  0.99  0.5  1.0  0.0
1  0.2  1.8  0.246  1.98  1.0  2.0  0.0
2  0.3  2.7  0.369  2.97  1.5  3.0  0.0>

In [26]:
""" Lets test REST and convert to LIST """

' Lets test REST and convert to LIST '

In [159]:
import json

# I'm asuming string values are being passed and not straight out float values
json_array = '{ "0": "0.1", "1":"0.9", "2":"0.123", "3":"0.99" , "4":"0.5" , "5":"1.0" , "6":"0" }'

# setup original values in a DataFrame
# asuming that this is already a set of values and not giving from the user
df_o = pd.DataFrame([1,1,1,1,1,1,1])
df_o[1] = [2,2,2,2,2,2,2]
df_o[2] = [3,3,3,3,3,3,3]

jl = json.loads(json_array)
#print(jl)
aList = []
for v in jl.values():
    #print(v)
    aList.append(float(v))

#print(aList)

# given value from rest
df = pd.DataFrame(aList)

# lets multiple with original dataframe
# asuming that I should multiply the the original values with the users given value to get the results
df[0] = df[0] * df_o[0]
df[1] = df[0] * df_o[1]
df[2] = df[0] * df_o[2]

# lets transpose to get 3x7 matrix
df.T

     0    1      2     3    4    5    6
0  0.1  0.9  0.123  0.99  0.5  1.0  0.0
1  0.2  1.8  0.246  1.98  1.0  2.0  0.0
2  0.3  2.7  0.369  2.97  1.5  3.0  0.0

In [133]:
"""it looks like we are forcasting values for 3 weeks according to the task, I'm asuming the original values are already set values and not given by a user.

It could also be that the orignial values are just the week number repeated * 7. For now hardcoded into a pandas DF 

I'm also asuming that the values could change so the but the mutliplication stays the same, with simular output for 3 weeks."""

"it looks like we are forcasting values for 3 weeks according to the task, I'm asuming the original values are already set values and not given by a user.\n\nIt could also be that the orignial values are just the week number repeated * 7. For now hardcoded into a pandas DF \n\nI'm also asuming that the values could change so the but the mutliplication stays the same, with simular output for 3 weeks."

In [167]:




message_string1 = "Your original weekly results for the next three weeks are: <br> "
message_string1 += df_o[0].astype(str).to_string(index=False).replace('\n',',').replace(' ','') + " <br> "
message_string1 += df_o[1].astype(str).to_string(index=False).replace('\n',',').replace(' ','') + " <br>"
message_string1 += df_o[2].astype(str).to_string(index=False).replace('\n',',').replace(' ','') + " <br>"
message_string1 += "Your modified weekly results for the next three weeks are: <br> "
message_string1 += df[0].astype(str).to_string(index=False).replace('\n',',').replace(' ','')  + " <br> "
message_string1 += df[1].astype(str).to_string(index=False).replace('\n',',').replace(' ','')  + " <br>"
message_string1 += df[2].astype(str).to_string(index=False).replace('\n',',').replace(' ','')  + " <br>"



message_string1

0    0.300
1    2.700
2    0.369
3    2.970
4    1.500
5    3.000
6    0.000
Name: 2, dtype: float64

AttributeError: 'Series' object has no attribute 'decimal'

In [148]:
df_o_0_string = df_o[0].to_string(index=False)
fixed = df_o_0_string.replace('\n',',').replace(' ','') 
print(fixed)

1,1,1,1,1,1,1

In [156]:

df[0].astype(str).to_string(index=False).replace('\n',',').replace(' ','')

'0.1,0.9,0.123,0.99,0.5,1.0,0.0'